.sidebar {
	position: absolute;
	height: 100%;
	z-index: 1;
	background-color: white;
}

.sidebar.long {
	width: 300px;
	transition: all 0.5s;
}

.sidebar.short {
	width: 100px;
	transition: all 0.5s;
}